

li span {
  font-size: 2.2em;
  display: block;
  letter-spacing: 0.4em;
  text-transform:capitalize;
  font-weight: 600;
 }
li {
 list-style: none;
 list-style-position:inside;
 text-align: center;
  background: red;
  color: white;
  width: 400px;
  border-radius: 1em 1em 0 0;
    
  
    
}
p {
list-style: none;
 list-style-position:inside;
 text-align: center;
font-size: 40px; 
width: 400px
}
h3{list-style: none;
 list-style-position:inside;
 text-align: center;
  background: red;
  color: white;
  width: 400px;
  border-radius: 0 0 1em 1em;
  

}
